<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <meta http-equiv="refresh" content="20" charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/error.css}">
    </head>

    <body>
        <header th:replace="navbar :: navbar"></header>
        <div class="logo">
            <h1>4</h1>
            <img class="img-logo" th:src="@{/img/ball.png}"/>
            <h1>4</h1>
        </div>
        <div class="text">
            <p th:text="${message}">Error Message</p>
        </div>

        <div class="get-back">
            <a class="btn btn-dark btn-lg" th:href="${prev}">BACK</a>
        </div>
    </body>

</html>