<div>
    <form th:action="@{/redirect-game-end}" method="get">
        <button type="submit">Add End Event</button>
    </form>
    <form th:action="@{/redirect-game-goal}" method="get">
        <button type="submit">Add Goal Event</button>
    </form>
    <form th:action="@{/redirect-game-interrupt}" method="get">
        <button type="submit">Add Interrupt Event</button>
    </form>
    <form th:action="@{/redirect-game-red-card}" method="get">
        <button type="submit">Add Red Card Event</button>
    </form>
    <form th:action="@{/redirect-game-resume}" method="get">
        <button type="submit">Add Resume Event</button>
    </form>
    <form th:action="@{/redirect-game-start}" method="get">
        <button type="submit">Add Start Event</button>
    </form>
    <form th:action="@{/redirect-game-yellow-card}" method="get">
        <button type="submit">Add Yellow Card Event</button>
    </form>
</div>