<form th:action="@{/create-game-interrupt}" th:object="${event}" method="post">
    <div class="form-row">
        <div>
            <label>Game</label>
            <select th:field="*{game}">
                <option th:each="g : ${games}" th:value="${g.id}" th:text="${g.teamA.name + ' ' + g.teamB.name}"></option>
            </select>
        </div>
        <div>
            <label>Time</label>
            <input type="datetime-local" th:field="*{time}" placeholder="Date"/>
        </div>
        <button type="submit">Create Event</button>
    </div>
</form>