<!DOCTYPE html>
<html>
    <head>
        <title>Edit Game</title>
        <meta charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header th:replace="navbar :: navbar"></header>
        <form th:action="@{/admin/save-edit-game}" th:object="${gameForm}" method="post">
            <div class="form-row">
                <input type="hidden" th:field="*{game.id}">
                <input type="hidden" th:field="*{game.teams}">
                <input type="hidden" th:field="*{game.events}">
                <div>
                    <label>Team A</label>
                    <select th:field="*{teamA}">
                        <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>
                <div>
                    <label>Team B</label>
                    <select th:field="*{teamB}">
                        <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" th:field="*{game.location}" placeholder="Location"/>
                </div>
                <div>
                    <label>Date</label>
                    <input type="datetime-local" th:field="*{game.start}" placeholder="Date"/>
                </div>
                <button type="submit">Save Game</button>
            </div>
        </form>
    </body>
</html>
