<form th:action="@{/admin/save-edit-player}" th:object="${player}" method="post">
    <div class="form-row">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Birthday</label>
            <input type="date" th:field="*{birthDate}"/>
        </div>
        <div>
            <label>Position</label>
            <select th:field="*{position}">
                <option th:each="pos : ${T(com.example.scoredei.data.types.PlayerType).values()}" th:value="${pos}" th:text="${pos}"></option>
            </select>
        </div>
        <div>
            <label>Team</label>
            <select th:field="*{team}">
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
        </div>
        <button type="submit">Save Player</button>
    </div>
</form>
