<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <meta charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <div>
            <h1 th:text="${game.getTeamA().name + ' ' + gameStatistics.getTeamGoals(game.getTeamA()).size() + ' - ' + gameStatistics.getTeamGoals(game.getTeamB()).size() + ' ' + game.getTeamB().name}">Game</h1>
            <h2 th:text="${game.location}"></h2>
            <h2 th:text="${game.start}"></h2>
        </div>

        <div th:each="event : ${game.events}">
            <div class="event">
                <div th:switch="${event.type}">
                    <div th:case="${T(com.example.scoredei.data.types.EventType).GOAL}" class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-primary d-flex justify-content-between">
                            <p th:text="${event.type}"></p>
                            <img th:src="${event.team.imageURL}" width="30px" height="30px" />
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${event.player.name + ' scored a goal for ' + event.team.name}"></p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted" th:text="${event.time}"></small>
                        </div>
                    </div>


                    <div th:case="${T(com.example.scoredei.data.types.EventType).YELLOW_CARD}" class="card border-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-warning d-flex justify-content-between">
                            <p th:text="${event.type}"></p>
                            <img th:src="${event.player.team.imageURL}" width="30px" height="30px" />
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${'Yellow card for ' + event.player.name + ' [' + event.player.team.name + ']'}"></p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted" th:text="${event.time}"></small>
                        </div>
                    </div>

                    <div th:case="${T(com.example.scoredei.data.types.EventType).RED_CARD}" class="card border-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-danger d-flex justify-content-between">
                            <p th:text="${event.type}"></p>
                            <img th:src="${event.player.team.imageURL}" width="30px" height="30px" />
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${'Red card for ' + event.player.name + ' [' + event.player.team.name + ']'}"></p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted" th:text="${event.time}"></small>
                        </div>
                    </div>
                    
                    <div th:case="*" class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <p th:text="${event.type}"></p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a event :D</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted" th:text="${event.time}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" th:href="@{game-statistics(id=${game.id})}">Statistics</a>
        <form th:method="post" th:action="@{/admin/delete-game(id=${game.id})}">
            <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>
    </body>

</html>