<!DOCTYPE html>
<html use-expressions="true" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>NavBar</title>
        <meta charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="padding: 10px;" th:fragment="navbar">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" width="250" height="40" role="img" th:src="@{/img/logo.png}"/>
            </a>
        
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/games" th:classappend="${#request.requestURI.startsWith('/games') ? 'nav-link px-2 link-secondary': 'nav-link px-2 link-dark'}">Games</a></li>
                <li><a href="/teams" th:classappend="${#request.requestURI.startsWith('/teams') ? 'nav-link px-2 link-secondary': 'nav-link px-2 link-dark'}">Teams</a></li>
                <li><a href="/players" th:classappend="${#request.requestURI.startsWith('/players') ? 'nav-link px-2 link-secondary': 'nav-link px-2 link-dark'}">Players</a></li>
                <li th:if="${session.user?.isAdmin}"><a href="/admin/users" th:classappend="${#request.requestURI.startsWith('/admin') ? 'nav-link px-2 link-secondary': 'nav-link px-2 link-dark'}">Users</a></li>
            </ul>
        
            <div class="col-md-3 text-end" style="display: flex;">
                <div th:if="${session.user}">
                    <div class="align-middle" style="display: flex;">
                        <span th:text="${session.user.username}" style="padding-right: 10px;"></span>
                        <a class="btn btn-outline-primary me-2" href="/logout">Logout</a>
                    </div>
                </div>
                <div th:if="${session.user == null}">
                    <a class="btn btn-outline-primary me-2" href="/login">Login</a>
                </div>
            </div>
        </header>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>