<!DOCTYPE html>
<html>
    <head>
        <title>User List</title>
        <meta http-equiv="refresh" content="20" charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <header th:replace="navbar :: navbar"></header>
        <center>
            <a th:if="${session.user?.isAdmin}" class="btn btn-primary btn-sm" href="/admin/add-player">Add Player</a>
        </center>
        <h1>Best Scorer</h1>
        <div th:if="${generalStatistics.getBestScorer()}">
            <h2 th:text="${generalStatistics.getBestScorer().name + ' - ' + generalStatistics.getBestScorer().getTeam().name }"></h2>
        </div>
        <div th:if="${generalStatistics.getBestScorer() == null}">
            <h2>Not found</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Position</th>
                    <th scope="col">Team</th>
                    <th th:if="${session.user?.isAdmin}" scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${players}">
                    <td class="align-middle" scope="row">
                        <img width="80px;" height="80px;" th:src="${p.imageURL}"/>
                    </td>
                    <td class="align-middle" th:text="${p.name}">Name</td>
                    <td class="align-middle" th:text="${p.birthDate}">Birthdate</td>
                    <td class="align-middle" th:text="${p.position}">Position</td>
                    <td class="align-middle">
                        <div style="display: flex;">
                            <div style="height: 80px; line-height: 80px;" class="align-middle" th:text="${p.team.name}"></div>
                            <img style="margin-left: 10px;" width="80px;" height="80px;" th:src="${p.team.imageURL}"/>
                        </div>
                    </td>
                    <td class="align-middle" th:if="${session.user?.isAdmin}">
                        <div style="display: flex;">
                            <a style="width: 100px; height: 30px; margin-right: 10px;" class="btn btn-warning btn-sm" th:href="@{admin/edit-player(id=${p.id})}">Edit</a>
                            <form th:method="post" th:action="@{/admin/delete-player(id=${p.id})}">
                                <input class="btn btn-danger btn-sm" style="width: 100px; height: 30px; margin-right: 10px;" type="submit" value="Delete"/>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>