<!DOCTYPE html>
<html>
<head>
    <title>Player list</title>
    <meta charset="utf8"/>
</head>

<body>
<h1>List</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="p : ${players}">
        <td th:text="${p.name}">playerName</td>
        <td th:text="${p.birthDate}">playerBirthday</td>
        <td th:text="${p.position}">playerPosition</td>
        <td th:text="${p.team.name}">teamName</td>
        <img width="100px" height="100px" th:src="${p.team.imageURL}" />
        <a th:href="@{admin/edit-player(id=${p.id})}">Edit</a>
        <form th:method="post" th:action="@{/admin/delete-player(id=${p.id})}">
            <input type="submit" value="Delete"/>
        </form>
    </tr>
</table>
</body>
</html>