<!DOCTYPE html>
<html>
    <head>
        <title>Team</title>
        <meta http-equiv="refresh" content="20" charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header th:replace="navbar :: navbar"></header>

        <img width="100px" height="100px" th:src="${team.imageURL}" />
        <h1 th:text="${team.name}"></h1>

        <h2>Players</h2>
        <div th:each="player : ${team.players}">
            <div>
                <a th.text="${player.name + ' (' + player.position + ')'}" th:href="@{player(id=${player.id})}"></a>
            </div>

        </div>
    </body>
</html>