<!DOCTYPE html>
<html>
    <head>
        <title>Statistics</title>
        <meta http-equiv="refresh" content="20" charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <header th:replace="navbar :: navbar"></header>
        <center>
            <a th:if="${session.user?.isAdmin}" class="btn btn-primary btn-sm" href="/admin/add-team">Add Team</a>
        </center>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Won</th>
                    <th scope="col">Drawn</th>
                    <th scope="col">Lost</th>
                    <th scope="col">Goals for</th>
                    <th scope="col">Goals against</th>
                    <th scope="col">Games</th>
                    <th th:if="${session.user?.isAdmin}" scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="team,index : ${teams}">
                    <th class="align-middle" scope="row" th:text="${index.index + 1}"></th>
                    <th class="align-middle">
                        <div style="display: flex;">
                            <div style="height: 80px; line-height: 80px;" class="align-middle" th:text="${team.name}"></div>
                            <img style="margin-left: 10px;" width="80px;" height="80px;" th:src="${team.imageURL}"/>
                        </div>
                    </th>
                    <th class="align-middle" th:text="${generalStatistics.getTeamPoints(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getWins(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getDraws(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getDefeats(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getGoalsScored(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getGoalsConceded(team)}"></th>
                    <th class="align-middle" th:text="${generalStatistics.getNumberOfGames(team)}"></th>
                    <td class="align-middle" th:if="${session.user?.isAdmin}">
                        <div style="display: flex;">
                            <a style="width: 100px; height: 30px; margin-right: 10px;" class="btn btn-warning btn-sm" th:href="@{admin/edit-team(id=${team.id})}">Edit</a>
                            <form th:method="post" th:action="@{/admin/delete-team(id=${team.id})}">
                                <input class="btn btn-danger btn-sm" style="width: 100px; height: 30px; margin-right: 10px;" type="submit" value="Delete"/>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>