<!DOCTYPE html>
<html>
    <head>
        <title>Team list</title>
        <meta charset="utf8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <header th:replace="navbar :: navbar"></header>
        <h1>List</h1>
        <div th:each="t : ${teams}">
            <td th:text="${t.name}">teamName</td>
            <img width="100px" height="100px" th:src="${t.imageURL}" />
            <a th:href="@{admin/edit-team(id=${t.id})}">Edit</a>
            <form th:method="post" th:action="@{/admin/delete-team(id=${t.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </div>
    </body>
</html>